= render 'layouts/hedder'
#content
  .main
    = render 'layouts/page_top'
    .dashboard
      = image_tag "cover", class: 'cover-img', alt: "動画でポン"
      #info          
        .popularity
          %h2.heading 人気の動画
        %ul.movie-box
          %li.movie-box--list
            = link_to "#" do
              = image_tag "http://img.youtube.com/vi/6XDjA9d_05M/sddefault.jpg", class: 'movie-box--list--thumb', alt: "movietitle"
              .chapter-title 誇張しすぎたパーフェクトヒューマン
              .chapter-pray-time 00:30
          %li.movie-box--list
            = link_to "#" do
              = image_tag "http://img.youtube.com/vi/6XDjA9d_05M/sddefault.jpg", class: 'movie-box--list--thumb', alt: "movietitle"
              .chapter-title 誇張しすぎたパーフェクトヒューマン
              .chapter-pray-time 00:30
          %li.movie-box--list
            = link_to "#" do
              = image_tag "http://img.youtube.com/vi/6XDjA9d_05M/sddefault.jpg", class: 'movie-box--list--thumb', alt: "movietitle"
              .chapter-title 誇張しすぎたパーフェクトヒューマン
              .chapter-pray-time 00:30
          %li.movie-box--list
            = link_to "#" do
              = image_tag "http://img.youtube.com/vi/6XDjA9d_05M/sddefault.jpg", class: 'movie-box--list--thumb', alt: "movietitle"
              .chapter-title 誇張しすぎたパーフェクトヒューマン
              .chapter-pray-time 00:30
          %li.movie-box--list
            = link_to "#" do
              = image_tag "http://img.youtube.com/vi/6XDjA9d_05M/sddefault.jpg", class: 'movie-box--list--thumb', alt: "movietitle"
              .chapter-title 誇張しすぎたパーフェクトヒューマン
              .chapter-pray-time 00:30
          %li.movie-box--list
            = link_to "#" do
              = image_tag "http://img.youtube.com/vi/6XDjA9d_05M/sddefault.jpg", class: 'movie-box--list--thumb', alt: "movietitle"
              .chapter-title 誇張しすぎたパーフェクトヒューマン
              .chapter-pray-time 00:30
        .all-movie
          %h2.heading 全ての動画
        %ul.movie-box
          %li.movie-box--list
            = link_to "#" do
              = image_tag "http://img.youtube.com/vi/6XDjA9d_05M/sddefault.jpg", class: 'movie-box--list--thumb', alt: "movietitle"
              .chapter-title 誇張しすぎたパーフェクトヒューマン
              .chapter-pray-time 00:30
          %li.movie-box--list
            = link_to "#" do
              = image_tag "http://img.youtube.com/vi/6XDjA9d_05M/sddefault.jpg", class: 'movie-box--list--thumb', alt: "movietitle"
              .chapter-title 誇張しすぎたパーフェクトヒューマン
              .chapter-pray-time 00:30
          %li.movie-box--list
            = link_to "#" do
              = image_tag "http://img.youtube.com/vi/6XDjA9d_05M/sddefault.jpg", class: 'movie-box--list--thumb', alt: "movietitle"
              .chapter-title 誇張しすぎたパーフェクトヒューマン
              .chapter-pray-time 00:30
          %li.movie-box--list
            = link_to "#" do
              = image_tag "http://img.youtube.com/vi/6XDjA9d_05M/sddefault.jpg", class: 'movie-box--list--thumb', alt: "movietitle"
              .chapter-title 誇張しすぎたパーフェクトヒューマン
              .chapter-pray-time 00:30
          %li.movie-box--list
            = link_to "#" do
              = image_tag "http://img.youtube.com/vi/6XDjA9d_05M/sddefault.jpg", class: 'movie-box--list--thumb', alt: "movietitle"
              .chapter-title 誇張しすぎたパーフェクトヒューマン
              .chapter-pray-time 00:30
          %li.movie-box--list
            = link_to "#" do
              = image_tag "http://img.youtube.com/vi/6XDjA9d_05M/sddefault.jpg", class: 'movie-box--list--thumb', alt: "movietitle"
              .chapter-title 誇張しすぎたパーフェクトヒューマン
              .chapter-pray-time 00:30
          %li.movie-box--list
            = link_to "#" do
              = image_tag "http://img.youtube.com/vi/6XDjA9d_05M/sddefault.jpg", class: 'movie-box--list--thumb', alt: "movietitle"
              .chapter-title 誇張しすぎたパーフェクトヒューマン
              .chapter-pray-time 00:30
          %li.movie-box--list
            = link_to "#" do
              = image_tag "http://img.youtube.com/vi/6XDjA9d_05M/sddefault.jpg", class: 'movie-box--list--thumb', alt: "movietitle"
              .chapter-title 誇張しすぎたパーフェクトヒューマン
              .chapter-pray-time 00:30
          %li.movie-box--list
            = link_to "#" do
              = image_tag "http://img.youtube.com/vi/6XDjA9d_05M/sddefault.jpg", class: 'movie-box--list--thumb', alt: "movietitle"
              .chapter-title 誇張しすぎたパーフェクトヒューマン
              .chapter-pray-time 00:30
          %li.movie-box--list
            = link_to "#" do
              = image_tag "http://img.youtube.com/vi/6XDjA9d_05M/sddefault.jpg", class: 'movie-box--list--thumb', alt: "movietitle"
              .chapter-title 誇張しすぎたパーフェクトヒューマン
              .chapter-pray-time 00:30
          %li.movie-box--list
            = link_to "#" do
              = image_tag "http://img.youtube.com/vi/6XDjA9d_05M/sddefault.jpg", class: 'movie-box--list--thumb', alt: "movietitle"
              .chapter-title 誇張しすぎたパーフェクトヒューマン
              .chapter-pray-time 00:30
          %li.movie-box--list
            = link_to "#" do
              = image_tag "http://img.youtube.com/vi/6XDjA9d_05M/sddefault.jpg", class: 'movie-box--list--thumb', alt: "movietitle"
              .chapter-title 誇張しすぎたパーフェクトヒューマン
              .chapter-pray-time 00:30
          