= render 'layouts/hedder'
#content
  .main
    = render 'layouts/page_top'
    .seach
      #info
        .movie--info-box
          %h2.heading
            お気に入り
            = image_tag "standby.gif", width: "100%", alt: "ステンバーイステンバーイ"
            %p 準備中のコンテンツです。下記のランダム動画で時間を潰して待ってね❤️
        .movie--info-box
          %h2.heading
            ランダム
          %ul.movie-box
            - if @chapters
              = render partial: 'layouts/movie-box', collection: @chapters, as: 'chapter'
            - else
          = link_to root_path do
            TOPへ戻る