= render 'layouts/hedder'
#content
  .main
    = render 'layouts/page_top'
    .seach
      #info
        %table.sitemap
          %caption chapter
          %tr
            %th title   
            %th 元動画
            %th favo
            %th like
          - @chapters.each do |c|
            %tr
              %td
                = link_to movie_chapter_path(c.movie,c) do
                  = c.title
              %td
                = c.movie.title
              %td
                - if current_user
                  - if current_user.already_favorited?(c)
                    - favo_id = c.favorites.find_by(user_id: current_user.id).id
                    = button_to '済', movie_chapter_favorite_path(c.movie,c,favo_id), method: :delete
                  - else
                    = button_to '☆', movie_chapter_favorites_path(c.movie,c)
              %td
                - if current_user
                  - if current_user.already_liked?(c)
                    - like_id = c.likes.find_by(user_id: current_user.id).id
                    = button_to '済', movie_chapter_like_path(c.movie,c,like_id), method: :delete
                  - else
                    = button_to 'b', movie_chapter_likes_path(c.movie,c)