= render 'layouts/hedder'
#content
  .main
    = render 'layouts/page_top'
    .seach
      #info
        %table.sitemap
          %caption chapter
          %tr
            %th title   
            %th 元動画
            %th favo
          - @chapters.each do |c|
            %tr
              %td
                = link_to movie_chapter_path(c.movie,c) do
                  = c.title
              %td
                = c.movie.title
              %td
                テスト
